.buy-amount{
    display: flex;
}
.buy-amount button{
    width: 35px;
    height: 35px;
    outline: none;
    background: none;
    border: 1px solid #fffdfd;
    cursor: pointer;
}
.buy-amount button:hover{
    background: #fffdfd;
}
.buy-amount button svg{
    color: #ffffff;
}
.buy-amount button:hover svg{
    color: #ffffff;
}
.buy-amount .amount{
    width: 40px;
    text-align: center;
    border: 1px solid #fffdfd;

}